.title {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.table {
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
}
.row {
  background-color: aliceblue;
}
.row:nth-of-type(2n) {
  background-color: antiquewhite;
}
.row-header {
  background-color: antiquewhite;
  line-height: 1.3;
}
.row-body {
  border-top: 1px solid #ccc;
  line-height: 1.8;
}
.row-footer {
  border-top: 1px solid #ccc;
  line-height: 1.8;
}
.item {
  text-align: center;
  font-size: 14px;
  padding: 0;
}
.btn {
  font-weight: bold;
  color: #fff;
  user-select: none;
  cursor: pointer;
  transition: 150ms all linear 0ms;
}
.btn:active {
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc inset;
}
.btn-delete {
  background-color: #804e39;
}
.btn-delete:hover {
  background-color: #481c09;
}
.btn-update {
  background-color: #215f21;
}
.btn-update:hover {
  background-color: #0b3c0b;
}
.btn-add {
  background-color: #3c3ce2;
}
.btn-add:hover {
  background-color: #151598;
}
