.title {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}
.article {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.3;
  padding: 10px 20px;
  text-align: center;
}
.btns {
  margin-top: 20px;
  text-align: center;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: #3478cd;
  padding: 0 8px;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
}
.btn:active {
  box-shadow: 1px 1px 1px 1px #ccc;
}
